Bem vindo <%= @user.profile.firstname.capitalize %><br><br>

Agora só falta confirmar sua conta.<br>
Para confirmar sua conta, basta clicar no link <a href=<%=@url%>>aqui</a><br><br>

Caso não consiga clicar no link, basta copiar e colar no navegador:<br>
<%= @url %><br><br>

Obrigado por se juntar a nós :)<br>